[user]
  email = lukas@korte.me
  name = Lukas Korte
  signingkey = ~/.ssh/id_ed25519.pub
[gpg]
  format = ssh
  ; program = gpg
[commit]
  gpgSign = true
[tag]
  forceSignAnnotated = true
  gpgSign = true
[push]
  autoSetupRemote = true
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[init]
  defaultBranch = main
